#cnzz_stat_icon_4779214{ display:none; }
body{ font-family: "Microsoft Yahei"; background: #e9e9e9; }
.card{ max-width: 450px; margin: 100px auto; padding: 10px; border-top: 3px solid #09f; background: #fff; color: #333; box-shadow: 0 0 5px #999; }
.card h1{ margin: 10px 0; }
.card a{ color: #1686cc; }
.card blockquote{ margin: 0; color: #999; }
